.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.left-side {
  flex: 1;
  margin-right: 50px;
}
.right-side {
  flex: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
}

.input-bar {
  position: relative;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e9e9e9;
  font-size: 16px;
  color: #333;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #d6d6d6;
}

button {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #23527c;
}

.details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.get-button {
  background-color: #f44336;
  margin-right: 10px;
}

.get-button:hover {
  background-color: #d32f2f;
}

.detail {
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 
}
.link{
  
  width: 100%;
  margin-top:10%; 
}