.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border:0.5px solid black;
  background-color: #f1f1f1;
 
}
.cardContainer{
    width:50vw;
    height:80vh;
    margin:auto;
    border:1px solid black;
    background-color: aliceblue;
    position: fixed;
    border-radius: 20px;
     top:10%;
  left:20%;
  overflow: scroll;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}